.clearfix {
	clear: both;
}

.formatted-gloss {
	clear: both;
}

.gloss-segment {
	float: left;
	margin-right: 10px;
}

.gloss-error {
	color: red;
}

.morpheme {
	font-variant: small-caps;
}

.morpheme-fake-caps {
	font-size: .7em;
	text-transform: uppercase;
}